
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: #1A1717; 
  color: white;
  font-family: 'Arial', sans-serif;
  /* overflow: hidden; */
  
  /* scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 100%;
  margin: 0;
  padding: 0; */
}

/* Backtotopbutton */
.back-to-top-button {
  display: none;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 999;
  /* background-color:#262525; */
  /* color: #f3f3f3; */
  border: none;
  border-radius: 0.625rem;
  padding: 0.625rem 1rem;
  cursor: pointer;
  font-size: x-large;
  
}

.back-to-top-button.visible {
  display: block;
}

.back-to-top-button.hidden {
  display: none;
}
/* Navbar */
/* Navbar styles */
.navbar {
  font-family:"Space Grotesk", sans-serif ;
  display: flex;
  justify-content: space-between; /* To separate left and right sections */
  align-items: center;
  padding: 0.625rem;
  background-color: var(--navbar-bg);
}
.navbar-left {
  display: flex;
  align-items: center;
}

.logo-box img{
  background-image: rgba(255,255,255,0.5);
}
.company-logo {
  padding: 0.125rem;
  height: 80px; /* Adjust logo size */

  margin: auto; 
}

.company-title {
  font-size: 1.5rem;
  color: var(--text-color); /* Dynamic based on theme */
}
.navbar-right {
  display: flex;
  align-items: center;
}

.toggle-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  padding: 0.5rem 0.625rem;
  cursor: pointer;
  border-radius: 50%;
  font-family: "Space Grotesk", sans-serif ;
}
.toggle-button i{
 padding: 0.625rem;
 font-size: 1.25rem;
}
.fa-sun{
  color: #FFD43B;
}
.toggle-button:hover {
  background-color: var(--button-hover-bg);
}

/* Light mode theme */
.light-mode {
  --navbar-bg: #E1EBEE;
  --button-bg: #1A1717;
  --button-text: #f4f4f4;
  --button-hover-bg: #495057;
  background-color: #E1EBEE;
  color:  #1A1717;
}

/* Dark mode theme */
.dark-mode {
  --navbar-bg:  #1A1717;
  --button-bg: #f4f4f4;
  --button-text: #1A1717;
  --button-hover-bg: #e9ecef;
  background-color:  #1A1717;
  color: #ECE9E9;
}

/* CSS for first page */
.landing-page{
  /* height: 100vh; */
}
#hero{
  height: 100vh;
  width: 80%;
  margin-bottom: 2rem;
  padding: 2rem 0;
  overflow: hidden;
  /* background-color: white; */
}

#title{
  font-family: "Space Grotesk", sans-serif ;
  display: inline-flex;
  font-size: larger;
  padding: 0.625rem;
  text-align: left;
}

#tagline {
  font-size: 3rem;
  padding: 0.625rem 0;
  font-family: "Space Grotesk", sans-serif;
}

p.lead {
  padding: 0.625rem 0;
  font-size: 1.2rem;
  font-family: "Space Grotesk", sans-serif;
}
#lets-get-it{
  padding: 0.625rem 1.25rem;
  border-radius: 8px;
  border:2px solid royalblue ;
  color: white;
  background-color: royalblue;
  font-size: large;
  margin: 0.725rem;
}
#lets-get-it:hover{
  background-color: #003893;
  border: 2px solid #003893;
  /* transition: 0.5s ease; */
  transition: 0.8s ease, box-shadow 0.8s ease;
}
#see-more{
  color: white;
  background-color: #1A1717;
  padding: 0.625rem 1.25rem ;
  border-radius: 8px;
  border: 2px solid white ;
  font-size: large;
  margin: 0.725rem;
  
  
}
#see-more:hover{
  background-color: #333333;
  color: white;
  border: 2px solid #ECE9E9;
  transition: 0.8s ease, box-shadow 0.8s ease;
  
  
}
.rectangle {
  object-fit: contain;
  position: absolute;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.r1 {
  width: 300px;
  height: 180px;
  top: -10%;
  left: 60%;
  order: 1;
}
.r1:hover{
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.8s ease, box-shadow 0.8s ease;
}
.r2 {
  
  width: 95px;
  height: 200px;
  top: 45%;
  left: 60%;
}
.r2:hover{

  transform: scale(1.05);
  cursor: pointer;
  transition: 0.8s ease, box-shadow 0.8s ease;
}
.r3 {
 
  width: 250px;
  height: 120px;
  top: 45%;
  left: 85%;
}
.r3:hover{

  transform: scale(1.05);
  cursor: pointer;
  transition: 0.8s ease, box-shadow 0.8s ease;
}
.r4 {
  
  width: 220px;
  height: 100px;
  top: -45%;
  left: 55%;
}
.r4:hover{

  transform: scale(1.05);
  cursor: pointer;
  transition: 0.8s ease, box-shadow 0.8s ease;
}
.r5 {
  
  width: 90px;
  height: 140px;
  top: -13%;
  left: 36%;
}
.r5:hover{

  transform: scale(1.05);
  cursor: pointer;
  transition: 0.8s ease, box-shadow 0.8s ease;
}
.r6 {
  
  width: 200px;
  height: 100px;
  top: 70%;
  left: 20%;
}
.r6:hover{

  transform: scale(1.05);
  cursor: pointer;
  transition: 0.8s ease, box-shadow 0.8s ease;
}
.r7 {
  width: 120px;
  height: 200px;
  top: -20%;
  left: 10%;
}
.r7:hover{
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.8s ease, box-shadow 0.8s ease;
}

/* Services */

#our-services{
  font-family: "Space Grotesk", sans-serif ;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 1.25rem 0;

}

#services-title{
  font-family: "Space Grotesk", sans-serif ;
  margin: auto;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-size: 600;

}
#teams{
  margin: auto;
}

.row .col{
  padding: 2rem;

}
#teams .row{
  padding: 2rem;
}
.our-services{
  padding:3rem ;
}
#services-desc{
  text-align: center;
  font-size:1rem;
  /* color: #f4f4f4; */
}

.services-img{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin: auto;
  object-fit: cover;
}
.col p{
  padding: 0.625rem;
}
#teams .col:hover{
  cursor: pointer;
  transition: background-color 0.8s ease, box-shadow 0.3s ease;
  border: none;
  border-radius: 5%;
  color: #ECE9E9;
  background-color: #333333;
  box-shadow: 0 4px 15px rgba(255,255, 255, 0.4); 
  font-weight: bold;
}
#teams .col:hover .img-box-services img{
  transition: 0.8s ease;
  transform: scale(1.15);
}

/* About-us page */

/* .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px dashed;
  margin: 0 auto; 
  color: white;
  text-align: center;
} */
#members{
  font-family: "Space Grotesk", sans-serif ;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  padding: 1.25rem;

}
#members-title{
  padding: 1.25rem;
  margin: auto;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Space Grotesk", sans-serif ;
  font-weight: 600;
}
#meet-our-team .row{
  padding: 2rem;
}

.img-box-career{
  display: inline-block;
  padding: 0.625rem;
  border: 0.125rem dashed;
  border-radius: 100%;
  transition: all 0.3 ease;
}
.team-img{
  display: block;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
  transition: all 0.3 ease;
}

.name{
  font-size: 1.25rem;
  padding: 0.625rem 0;
}
.position{
  font-size: medium;
}

#meet-our-team .col:hover {
  cursor: pointer;
  transition: background-color 0.8s ease, box-shadow 0.3s ease;
  border-radius: 5%;
  background-color: #333333;
  border: none;
  color: #ECE9E9;
  box-shadow: 0 4px 15px rgba(255,255, 255, 0.4); 
  font-weight: bold;
}

#meet-our-team .col:hover .img-box-career {
  transition: all 0.8 ease;
  border: none; 
}

#meet-our-team .col:hover .team-img {
  transition: 0.8s ease;
  transform: scale(1.15);
}

/* Our Company */

#our-company {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  width: 80%;
  
}
.section-primary{
  padding: 1.25rem;
  margin-bottom: 2rem;
}
#value-content h2{
  padding: 0.625rem 0;
  margin-top: 2rem;
}
.img-box img{
  border-radius: 10px;
  transition: 0.8s ease, box-shadow 0.5s ease;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.img-box img:hover{
  cursor: pointer;
  transition: 0.8s ease, box-shadow 0.3s ease;
  transform: scale(1.025);
  box-shadow: 0 4px 15px rgba(255,255, 255, 0.4);
}

/* Careers */
#careers{
  font-family: "Space Grotesk", sans-serif ;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2rem;
}
#careers-title{
  margin: auto;
  text-align: center;
  align-items: center;
  font-size: 2rem;
  font-family: "Space Grotesk", sans-serif ;
}

/* Contact Us */
#contact{
  /* margin-top: 5rem; */
  font-family: "Space Grotesk", sans-serif ;
  /* justify-content: center;
  align-items: center; */
  width: 80%;
  padding: 2rem;
}
#contact-us-title{
  font-size: 2rem;
  font-family: "Space Grotesk", sans-serif ;
}

.img-box-contact{
  width: 80%;
  border: 2px solid whitesmoke;
  padding: 0;
  margin: 0;
}
.contact-img{
  width: 100%;
  padding: 0;
  margin: 0 auto;
  object-fit: cover;
}
#reach-us{
  font-size: small;
  color: #838383;
}
#contact-details{
  font-size: 1rem;
}
#contact-details-reach{
  font-size: 1rem;
  padding: 0 0.625rem;
  margin: 0.625rem;
}

/* icons */
.social-icons a {
  color: white;
  border: 1px solid #333;
  display: inline-block;
  width: 10%;
  line-height: 40px;
  text-align: center;
  margin: 0 ;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.social-icons a:hover {
  background-color: #333333;
}
#form-container .row{
  padding: 0.625rem;
}
#form-container .col{
  padding: 0.625rem;
}
/* Form */
.form-control{
  margin: 0;
  padding: 0.625rem;
}
#reach-us{
  margin: 1.2rem;
}
#submit{
  text-align: center;
  align-items: center;
  justify-content: center;
}
#form-container{
  margin: 0;
  padding: 0;
}
#form-container .col-md-12{
  padding: 1.2rem;
}
#form-container .col-md-6{
  padding: 1.2rem;
}

/* FAQ's */
.faq-box{
  width: 100%;
  background-color: #ECE9E9;
}
#faq{
  width: 100%;
  color: #1A1717;
  font-family: "Space Grotesk", sans-serif ;
  padding: 2rem;
}

#faq-content{
  color: #1A1717;
  background-color: #ECE9E9;
  font-family: "Space Grotesk", sans-serif ;
  width: 80%;
  /* padding: 1rem; */
  
}
#f-query{
  margin: 0;
  padding: 0;
  
}

/* Horizontal right arrows */
.arrow-right {
  width: 100px; /* Length of the arrow */
  height: 2px;  /* Thickness of the arrow */
  background-color: black;
  position: relative;
}

.arrow-right::after {
  content: '';
  position: absolute;
  top: -5px; /* Adjust to center the arrowhead */
  right: -15px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid black;
}
.question{
  margin: 0.625rem;
  font-size: 1.25rem;
}
.fa-arrow-right{
  display: inline;
  padding: 0 0.625rem ;
}
#faq-box{
  padding: 0.625rem;
}
#f-query .col-md-6:hover{
  cursor: pointer;
  transition: 0.3s ease;
  transform: scale(1.025);
  box-shadow: 0 4px 15px rgba(255,255, 255, 0.4);
}

/* Clients */

#clients{
  color: #1A1717;
  background-color: #ECE9E9;
  font-family: "Space Grotesk", sans-serif ;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.2rem;
}
#clients-title{
  color: #45B7CF;
  margin: auto;
  text-align: center;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Space Grotesk", sans-serif ;
}
.fa-angle-left{
  cursor: pointer;
}
.fa-angle-right{
  cursor: pointer;
}
/* Footer */

#footer {
  font-family: "Space Grotesk", sans-serif ;
  background-color: #1A1717;
  color: #fff;
  padding: 2.5rem;
}
.footer ul li{
  padding: 0.125rem ;
}
.footer a {
  color: #ECE9E9;
  font-size: 1rem;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

/* .footer-logo{
  padding: 0px;
} */
.footer-logo img {
  width: 50%;
  max-width: 70%;
}
.copyright{
  padding: 0.125rem;
  background-color:  #262525;
  color: #ECE9E9;
  text-align: center;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif ;

}

/* Activities */

.activities-img{
  border-radius: 10px;
  display: block;
  height: 250px;
  width: 250px;
  object-fit: cover;
}
.activities-img:hover{
  box-shadow: 0 4px 15px rgba(255,255, 255, 0.4); 
  cursor: pointer;
  transition: 0.8s ease, box-shadow 0.3s ease;
  transform: scale(1.025);
}
.activities-box{
  display: inline-block;
  padding: 0.625rem;
  
  
}


